.parent-button .ant-btn:hover,
.parent-button .ant-btn:active,
.parent-button .ant-btn:focus {
  background: linear-gradient(90deg, #e0bf88 0%, #e7cd9a 47.71%, #f2e1b4 100%);
  color: rgba(123, 85, 32, 1);
  height: 44px;
}
.manager-admin-class .ant-btn {
  cursor: pointer;
  border: none;
  background: linear-gradient(90deg, #e0bf88 0%, #e7cd9a 47.71%, #f2e1b4 100%);
  box-shadow: 0px 5px 15px rgba(242, 225, 180, 0.25);
  border-radius: 100px;
  width: 144px;
  height: 44px;
  font-size: 18px;
  font-weight: 700;
  color: #7b5520;
  display: block;
  margin-top: 30px;
}
