.header-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .header-logo {
        width: auto;
        height: 30px;
    }

    .user-avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 10px;
        cursor: pointer;
    }

    .header-search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }


    .header-search .ant-input {
        border-radius: 5px !important;
        padding: 10px;
        padding-left: 15px;

    }

    .header-search .ant-input-search-button {
        border-radius: 15px !important;
        padding: 5px;
    }

    .header-search .ant-btn .ant-btn-icon-only {
        padding: 5px !important;

    }

    .header-icon {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        .icon-chat {
            font-size: 30;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;


            .btn-next {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 30px;
                border-radius: 30px;
                height: auto;
                margin: 10px 0px;
                background-color: #68d1c8;
                color: white;
                border-color: #68d1c8;
                font-size: 16px;
                font-weight: bold;
                border: 1px solid white;
            }
        }

        .icon-profile {
            font-size: 30;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            .drop-down {
                width: 100px;
            }

            .icon-dropdown {
                font-size: 30px;
            }
        }
    }

}