:root {
  .base-input {
    border-radius: 8px;
  }
  .search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.5;
    cursor: pointer;
  }
  .form-item-style {
    padding-top: 42px;
  }
}
