.header {
  display: flex;
  // background: linear-gradient(90deg, #68d1c8 0%, #e7cd9a 47.71%, #f2e1b4 100%) !important;
  background-color: white;
  // border: 0.2px grey solid;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;

}
.content {
  padding-left: 23px;
  padding-right: 16px;
  
}

.body {
  margin-top: 60px ;
}
