.newFeed-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    .newFeed-container-child {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: center;
        justify-content: center;

        .newFeed-left {
            width: 500px;
            height: 800px;
            margin: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            position: sticky;
            top: 70px;

           
        }


        .newFeed-middle {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
        }

        .newFeed-right {
            width: 400px;
            margin: 95px 0;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            height: 500px;
            // position: sticky;
            // top: 70px;
        }
    }

    
}