.post-detail-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin-top: 30px;


  .post-left {
    width: 900px;
    height: 800px;
    background-color: white;

    .slider-container2 {

      .img-video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 800px;

        .img {
          width: 900px;
          height: 800px;
          object-fit: cover;
        }
      }
    }
  }

  .post-right {
    width: 500px;
    height: 900px;

    .info {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      cursor: pointer;

      .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .name {
          font-weight: bold;
          margin: 0 10px;
          font-size: 17px;
        }

        .name:hover {
          opacity: 0.8;
        }
      }


    }

    .comment-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0 15px;

      // height: 7;
      .comment-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;


        .name {
          font-weight: bold;
          cursor: pointer;
          font-size: 15px;
          margin: 0 10px;
        }


      }

      .comment {
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
        margin-left: 45px;
      }

      .comment-time-reply {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        margin-left: 45px;
        margin-top: 10px;

        .time {
          font-size: 11px;
          opacity: 0.5;
        }

        .reply {
          font-size: 13px;
          margin: 0 15px;
          cursor: pointer;
          font-weight: bold;
          opacity: 0.5;
        }


      }

      .view-replys {
        font-size: 13px;
        margin: 5px 45px;
        cursor: pointer;
        font-weight: bold;
        opacity: 1;
      }
    }

    .like-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-color: white;
      padding: 10px 0;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

      .like-container-child {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        padding: 10px 0;
        padding-bottom: 5px;
      }

      .time-create {
        padding: 0px 60px;
        font-weight: bold;
        opacity: 0.5;
        font-size: 13px;
      }
    }

    // border: 1px solid black;

    .footer-footer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .input {
        width: 100%;

        .comment-input {
          border-radius: 5px !important;
          padding: 10px;
          padding-left: 15px;
        }
      }

      .comment-button {
        padding: 20px 10px;
        text-align: center;
        border-radius: 5px !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }
  }
}