.title-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  .title {
    display: block;
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 20px;
  }
  .button-create {
    cursor: pointer;
    border: none;
    background: linear-gradient(90deg, #e0bf88 0%, #e7cd9a 47.71%, #f2e1b4 100%);
    box-shadow: 0px 5px 15px rgba(242, 225, 180, 0.25);
    border-radius: 100px;
    width: 144px;
    height: 44px;
    font-size: 18px;
    font-weight: 700;
    color: #7b5520;
    display: block;
    margin-top: 30px;
  }
    

}
.text-row {
      color: rgba(8, 125, 233, 0.85);
      font-weight: normal;
      font-size: 14px;
      cursor: pointer;
    }
