.post-container {
  margin: 20px 0;
  border-radius: 5px;
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  height: auto;
  flex-direction: column;
  // border: 0.1px solid gray;
  width: 800px;
  justify-content: center;
  align-items: center;
  align-content: center;

  .post-header {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  // background-color: #f2e1b4;



    .left {
      display: flex;
      height: auto;
      width: auto;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      padding: 5px 0;

      .avatar {
        padding: 10px;

        .user-avatar {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          object-fit: cover;
          margin: 0 10px;
        }
      }

      .name-time {
        display: flex;
        height: auto;
        width: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;

        .name {
          font-weight: bold;
          font-size: 16px;
        }

        .time {
          font-size: 11px;
          opacity: 0.6;
        }
      }
    }

    .right {
      padding: 10px;
      cursor: pointer;
    }
  }

  .post-body {
    width: 100%;
    height: auto;
    position: relative;
   
    .slider-container2{
      .img-video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: black;
        width: 800px;
        height: 700px;

        .img{
          width: 800px;
          height: 700px;
          object-fit: cover;
        }
      }
    }

    .localtion-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: #68d1c8
    }

    .lat-lng {
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      top: 15px;
      right: 50px;
      color: white;
      opacity: 0;
      padding: 0px 15px
    }

    .localtion-icon:hover .lat-lng {
      opacity: 0.7;
    }

    .location-info {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      align-content: center;
      color: #68d1c8;

      .locate {
        font-size: 20px;
        font-weight: bold;
        color: white;
        opacity: 0.7;
        padding: 5px 15px
      }

      .city {
        font-size: 30px;
        font-weight: bold;
        color: white;
        opacity: 0.8;
        padding: 0px 15px
      }
    }

    

  }
  

  .post-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer-top {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      .left {
        width: auto;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;

        .num {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
        }
      }
      .right {
        width: auto;
        padding: 5px;
      }
    }

    .footer-body {
      width: 100%;
      margin: 10px 0;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .description {
        padding: 0 10px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .user-name {
          font-weight: bold;
          font-size: 15px;
          padding: 0 5px;
        }

        .descrip {
          line-break: none;
          padding: 0 5px;
        }

        .hashtag {
          color: red;
          cursor: pointer;
        }
        
      }
      .view-comment {
          opacity: 0.7;
          cursor: pointer;
          padding: 5px 15px;
        }

    }

    .footer-footer {
      width: 100%;
      padding: 0 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .input {
        width: 100%;

        .comment-input {
          border-radius: 5px !important;
          padding: 10px;
          padding-left: 15px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
      }

      .comment-button {
        padding: 20px 10px;
        text-align: center;
        border-radius: 5px !important;
        display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
      
    }
  }
}




