.float-label {
  position: relative;
  margin-bottom: 12px;
}

.label {
  font-size: 12px !important;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 17.5px;
  transition: 0.2s ease all;
}

.label-float {
  top: 5px;
  font-size: 10px !important;
}
